/* General HUD Containers */
:root {
  --ui-font-family: Arial, Helvetica, sans-serif;
}

.hud-overlay {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);

  /* scale with window size */
  width: 90vw;
  max-width: 1200px;
  height: 80vh;
  max-height: 800px;

  background-color: rgba(0, 0, 0, 0.4);
  padding: 1em;
  z-index: 100;

  display: none;
  display: flex;
  /* flex container */
  flex-direction: column;
  /* stack content */
  align-items: center;
  justify-content: flex-end;

  font-family: var(--ui-font-family);
  font-size: 1em;
}

.hotbar-container {
  position: absolute;
  bottom: 1vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;

  display: flex;
  gap: 0.66em;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.4);
}

.inventory-container {
  display: flex;
  flex-direction: column;
  gap: 0.66em;
  padding: 0.5em;

  overflow-y: auto;

  background-color: rgba(0, 0, 0, 0.4);
}

.inventory-row {
  display: flex;
  gap: 0.66em;
}

.inventory-slot {
  transition: 100ms;
  flex: 0 0 auto;
  aspect-ratio: 1 / 1;
  /* keeps them square */
  width: clamp(2em, 5vw, 4em);
  border: 3px solid rgba(96, 96, 64, 0.9);
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ui-font-family);
}

/* Style for the selected hotbar slot */
.inventory-slot.selected {
  border: 3px solid rgb(192, 192, 192);
}

.inventory-slot:hover {
  border: 3px solid rgb(0, 187, 255);
  transition-duration: 150ms;
  transform: scale(1.2);
}

/* HUD Buttons */
.hud-close-button {
  position: absolute;
  top: -1em;
  right: -1em;
  border: none;
  background: transparent;
  color: black;
  font-size: 2em;
  user-select: none;
  cursor: pointer;
}

.hud-close-button:hover {
  color: red;
}


.held-item-name {
  position: absolute;
  bottom: 10vh;
  /* Adjust to position it above your hotbar */
  color: white;
  font-size: clamp(0.6em, 2vw, 1em);
  /* scales with screen */
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  margin: 0.2em;

  font-family: var(--ui-font-family);
  pointer-events: none;
  /* Make sure it doesn't block mouse clicks */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px 8px;
}

.held-item-name {
  opacity: 0;
  transition: opacity 0.04s ease-in;
  transition: opacity 0.5s ease-out;
}

.held-item-name.visible {
  opacity: 1;
}

/* Item Tooltip */
#item-tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  font-family: var(--ui-font-family);
  font-size: clamp(0.6em, 2vw, 1em);
  font-weight: bold;
  z-index: 200;
  /* Ensure it's on top of other UI */
  pointer-events: none;
  /* Prevent the tooltip from blocking mouse events */
  white-space: nowrap;
  /* Keep the name on a single line */
  text-shadow: 2px 2px 2px black;
}